/*@import "./abstracts/variables.css";*/
/*@import './base/base.css';*/

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200;0,8..60,300;0,8..60,400;0,8..60,500;0,8..60,600;0,8..60,700;0,8..60,800;0,8..60,900;1,8..60,200;1,8..60,300;1,8..60,400;1,8..60,500;1,8..60,600;1,8..60,700;1,8..60,800;1,8..60,900&display=swap');

/*
Base layout styles for all pages. Includes the app theme. This file should be imported in the base layout file.
 */

:root {
  --el-color-primary: #436a27;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-break: normal;
}

html,
body {
  max-width: 100vw;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Source Serif 4', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
