/*@import "../abstracts/variables";*/

/*@mixin dark-button-transition {*/
/*  transition: background-color 0.3s, color 0.3s;*/

/*  &:hover {*/
/*    background-color: $secondary-500;*/
/*    color: $neutral-900;*/
/*  }*/
/*}*/

/*@mixin light-button-transition {*/
/*  position: relative;*/

/*  &::before {*/
/*    content: "";*/
/*    transition: top, right, bottom, left, 0.3s ease-in-out;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    border: $secondary-500 5px solid;*/
/*    border-radius: 6px;*/
/*  }*/

/*  &:hover::before,*/
/*  &:focus::before {*/
/*    top: -4px;*/
/*    right: -4px;*/
/*    bottom: -4px;*/
/*    left: -4px;*/
/*  }*/
/*}*/

/*@mixin nav-link-hover-transition {*/
/*  transition: background-color 0.3s, color 0.3s;*/

/*  &:hover {*/
/*    background-color: $secondary-500;*/
/*    color: $neutral-900;*/
/*  }*/
/*}*/

/*@mixin nav-link-underline-transition {*/
/*  animation: navLinkUnderlineSlide .4 linear forwards;*/

/*  @keyframes navLinkUnderlineSlide {*/
/*    0% {*/
/*      left: -100%;*/
/*      height: .5rem;*/
/*    }*/

/*    50% {*/
/*      left: 0;*/
/*      height: .5rem;*/
/*    }*/

/*    100% {*/
/*      left: 0;*/
/*      height: 100%;*/
/*    }*/
/*  }*/
/*}*/