@import "../abstracts/variables";
@import "../abstracts/mixins";

/*
FAQ page layout.
 */

.faq-section-light {
  color: $neutral-900;
  background-color: $secondary-50;
  padding: 96px 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;

  @media (max-width: $screen-md) {
    padding: 48px 40px;
    flex-direction: column;
  }
}

.faq-section-light-container {
  width: 50%;
  position: relative;

  @media (max-width: $screen-md) {
    width: 100%;
  }
}

.faq-section-heading-underline::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 43px;
  border-bottom: 4px solid $neutral-900;
}

.faq-heading-section {
  color: $neutral-300;
  @include h1-section;
  margin: 0;
}

.faq-heading-section-alt {
  color: $secondary-500;
}

.faq-heading-section-sub {
  margin: 10px 0;
  max-width: 450px;
  @include h2-semi-bold;

  @media (max-width: $screen-sm) {
    @include h3-semi-bold;
  }
}

.faq-section-paragraph {
  @include p3-regular;
  margin: 0;

  @media (max-width: $screen-sm) {
    @include p2-regular;
  }
}

.faq-main {
  background-color: $secondary-50;
  padding-bottom: 50px;
  border-bottom: 1px solid $neutral-900;
}

.faq-container-margins {
  margin: 0 80px;

  @media (max-width: $screen-md) {
    margin: 0 40px;
  }
}

.faq-nav-light {
  color: $neutral-900;
  border: 1px solid $primary-500;
  border-left: none;
  border-right: none;
  margin: 0 80px;

  @media (max-width: $screen-md) {
    margin: 0 40px;
  }
}

.faq-nav {
  justify-content: left;
  padding: 20px;
}

.faq-nav a {
  @include nav-semi-bold;
  color: $primary-500;
  text-decoration: none;
  margin-right: 20px;
  display: inline-block;

  @media (max-width: $screen-lg) {
    font-size: 16px;
  }

  @media (max-width: $screen-md) {
    display: block;
    font-size: 20px;
    width: 100%;
  }
}

.faq-semiheader {
  @include h4-semi-bold;

  @media (max-width: $screen-md) {
    @include h5-semi-bold;
  }
}

.faq-question-semiheader {
  @include h5-semi-bold;

  @media (max-width: $screen-md) {
    font-size: 16px;
    font-weight: 700;
  }
}

.faq-question {
  border-top: 1px solid $neutral-400;
  padding: 0 20px;
}

.faq-question a {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.faq-question a::after {
  content: "";
  flex-shrink: 0;
  margin-left: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12 6.5V12.5M12 12.5V18.5M12 12.5H18M12 12.5H6' stroke='%23060718' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  display: block;
  background-size: 24px;
  background-position: center;
  height: 44px;
  width: 44px;
  // padding: 10px;
}

.faq-question.question-open a::after {
  content: "";
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18 12H6' stroke='%23060718' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
}

.question-text {
  @include p3-regular;
  max-width: 1060px;
  color: $neutral-900;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 20px;
  display: none;

  @media (max-width: $screen-md) {
    color: $neutral-800;
    @include p2-regular;
  }
}

.question-open .question-text {
  display: block;
}