@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/animations.scss";

/*
Navigation bar.
It is made up of three sections.
- Left: Logo
- Middle: Links with animated underline
- Right: Dropdown link that displays extended section
 */

// Background behind the navbar. It requires the navbar to be transparent and offset page content. By default, this is not shown; it is overridden by the navbar-toolbar background color. 
.navbar-background {
  background: $landing-background-color;

  // Add margin to first element after navbar. This offsets the page content.
  +* {
    margin-top: $toolbar-height;
  }
}

.navbar-toolbar {
  @include h5-semi-bold;
  width: 100%;
  height: $toolbar-height;
  color: $secondary-50;
  background: $navbar-color;
  box-shadow: 0px 4px 4px 0px rgba($navbar-color, 0.25);
  z-index: 4;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: wrap;

  a,
  .navbar-toolbar a:visited,
  .navbar-toolbar a:link {
    color: $secondary-50;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }
}

.navbar-toolbar-main {
  display: block;
  max-height: $toolbar-height;
  flex-basis: 100%;
}

.navbar-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}

.navbar-link-selected {
  font-weight: bold;
  // text-decoration: underline;
  // text-decoration-thickness: 2px;
  // text-underline-offset: .6em;
}

.navbar-toolbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left-container {
  display: inline-flex;
  padding: 10px 16px;
}

.navbar-left-section {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.navbar-middle-container {
  display: inline-flex;
  padding: 10px 0;
}

.navbar-middle-section {
  display: none;
  position: relative;
  list-style-type: none;
  column-gap: 50px;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $screen-md) {
    display: inline-flex;
  }
}

.one~.navbar-underline {
  margin-left: -86%;
  display: block;
}

.two~.navbar-underline {
  margin-left: -34%;
  display: block;
}

.three~.navbar-underline {
  margin-left: 23%;
  display: block;
}

.navbar-underline {
  display: none;
  position: absolute;
  top: 120%;
  height: 2px;
  width: 80px;
  margin: 0;
  background: $secondary-50;
  border: none;
  transition: .3s ease-in-out;
  float: left;
}

.navbar-right-container {
  display: inline-flex;
  height: $toolbar-height;
  padding: 10px 16px;
}

.navbar-right-section {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.navbar-nested-parent-link {
  button {
    background: transparent url("/img/chevron-down.png");
    background-position: center right;
    background-repeat: no-repeat;
    border: none;
    padding: 0 20px 0 0;
    font: inherit;
    outline: inherit;
    cursor: pointer;
  }
}

.navbar-extend-background-inactive {
  button {
    color: $secondary-500 !important;
  }
}

.navbar-extend-background-active {
  background: $secondary-50;

  button {
    color: $neutral-900;
  }
}

.navbar-toolbar-extended {
  margin: 0;
  padding: 0;
  display: block;
  flex-basis: 100%;
  background: $secondary-50;
}

.navbar-extended-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-extended-mobile-content ul::before {
  content: ''
}

.navbar-extended-mobile-section li.active a {
  color: $secondary-50;
  background: $neutral-900;
}

.navbar-extended-desktop-container * {
  color: black;
  background: $secondary-50;
}

.navbar-extended-mobile-container {
  height: 100%;
  color: $secondary-50;
  background: $landing-background-color;
}

.navbar-extended-parent-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;

  a,
  a:visited,
  a:link,
  a:active {
    color: $secondary-500;
  }
}

.navbar-extended-mobile-section {
  padding: 16px;
}