.mainToolbarContainer {
  border: 1px #cccccc;
}

.subToolbarContainer {
  padding-top: 12px;
}

.subToolbarTitle {
  font-weight: 800;
  font-size: 24px;
}

.subToolbarLinksContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
}

.subToolbarLink {
  padding: 8px 16px;
  opacity: 30%;
  border-bottom: solid 5px #003049;
  color: inherit;
  text-decoration: none;
}

.subToolbarLinkSelected {
  opacity: 100% !important;
}

.menuLink {
  border-radius: 8px;
  padding: 4px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #003049;
  opacity: 87%;
  font-weight: 600;
  font-size: 16px;
}

.menuLinkSelected {
  background: #003049 !important;
  color: white !important;
  opacity: 100%;
}
