@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/animations";

/*
Home page layout.
 */

.home-section-dark {
  background-color: $neutral-900;
  color: $neutral-50;
}

.home-landing-image {
  background-image: url("/img/towerbridgenight.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;

  @media (max-width: $screen-sm) {
    background-image: none;
  }
}

.home-landing-background {
  background-color: $landing-background-color;
  color: $neutral-50;
}

.home-landing-container {
  width: 40%;
  min-height: 721px;
  padding: 0 30px 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  color: $neutral-50;

  @media (max-width: $screen-xl) {
    width: 70%;
  }

  @media (max-width: $screen-md) {
    width: auto;
    padding: 96px 40px 60px 40px;
    justify-content: flex-start;
    padding-top: 30%;
  }

  @media (max-width: $screen-sm) {
    min-height: 0;
  }
}

.home-landing-heading {
  @include h1-bold;
  margin: 0;

  @media (max-width: $screen-sm) {
    @include h3-bold;
  }
}

.home-landing-heading span {
  @include h1-small-bold;

  @media (max-width: $screen-sm) {
    @include h3-bold;
  }
}

.home-section-landing-image {
  display: none;

  @media (max-width: $screen-sm) {
    display: block;
    width: 100%;
  }
}

.home-buttons-group {
  width: fit-content;
  display: flex;
  gap: 20px;
}

.home-button {
  color: $secondary-50;
  background-color: transparent;
  cursor: pointer;

  border: solid $secondary-500 1px;
  border-radius: 6px;
  padding: 16px 24px;
  text-decoration: none;
  width: fit-content;

  @include button-regular;
  @include dark-button-transition;
}

.home-button-alt {
  /* alternative colors */
  background-color: $secondary-500;
  color: $neutral-900;

  @include light-button-transition;
}

.home-button-numbered {
  color: $secondary-500;
}

.home-section-light {
  color: $neutral-900;
  background-color: $secondary-50;
  padding: 96px 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;

  @media (max-width: $screen-md) {
    padding: 48px 40px;
    flex-direction: column;
  }
}

.home-section-light-container {
  width: 50%;
  position: relative;

  @media (max-width: $screen-md) {
    width: 100%;
  }
}

.home-section-heading-underline::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 43px;
  border-bottom: 4px solid $neutral-900;
}

.home-section-dark-container {
  position: relative;
}

.underline-alt::after {
  border-bottom: 4px solid $neutral-50;
}

.donate-section-underline::after {
  padding-bottom: 18px;
  border-bottom: 8px solid $neutral-50;
  width: 101px;
}

.heading-section {
  color: $neutral-300;
  @include h1-section;
  margin: 0;
}

.heading-section-alt {
  color: $secondary-500;
}

.heading-section-sub {
  margin: 10px 0;
  @include h2-semi-bold;

  @media (max-width: $screen-sm) {
    @include h3-semi-bold;
  }
}

.home-section-paragraph {
  @include subheading-regular;
  margin: 0;

  @media (max-width: $screen-sm) {
    @include p3-regular;
  }
}

.home-section-paragraph-bold {
  @include subheading-bold;
}

.home-section-paragraph-anchor {
  color: $neutral-900;
  font-weight: 700;
}

.home-about-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;

  @media (max-width: $screen-lg) {
    width: auto;
    padding: 48px 40px 0 40px;
    margin: auto;
  }
}

.home-section-dark-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 192px 0 192px 80px;

  @media (max-width: $screen-lg) {
    padding: 0;
    flex-direction: column;
    align-items: flex-end;
  }
}

.home-about-image {
  background-image: url("/img/open_data_day_curved.png");
  background-repeat: no-repeat;
  background-size: 45vw 40vw;
  background-position: right center;

  @media (min-width: 1700px) {
    background-size: 40% 80%;
  }

  @media (max-width: $screen-lg) {
    background-image: none;
  }
}

.home-section-action-image {
  display: none;
  margin-top: 40px;

  @media (max-width: $screen-lg) {
    display: block;
    height: 50vw;
    margin-bottom: 80px;
  }

  @media (max-width: $screen-md) {
    display: block;
    height: 70vw;
    margin-bottom: 80px;
  }
}

.home-services-container {
  padding: 0 80px 96px 80px;

  @media (max-width: $screen-lg) {
    padding: 0 20px 96px 20px;
  }

  @media (max-width: $screen-md) {
    padding: 48px 40px;
  }
}

.home-numbered-grid {
  margin: 40px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;

  @media (max-width: $screen-md) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
}

.home-numbered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  max-width: 600px;
}

.home-numbered-header {
  @include h3-bold;
  text-align: center;
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0;

  @media (max-width: $screen-sm) {
    @include h4-bold;
  }
}

.home-numbered-paragraph {
  @include p3-regular;
  text-align: center;
}

.home-projects-section {
  padding: 96px 80px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 30px;

  @media (max-width: 1300px) {
    flex-direction: column;
    justify-content: center;
    padding: 48px 40px;
    gap: 80px;
  }
}

.home-projects-info-container {
  width: 50%;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;

  @media (max-width: $screen-xxl) {
    width: 100%;
  }
}

.home-section-project-image {
  width: 100%;
  aspect-ratio: 2/1;
}

.slide-content {
  width: 100%;
}

.slide-content p {
  @media (max-width: $screen-lg) {
    margin-bottom: 10px;
  }
}

.test {
  margin: auto;
  max-width: 100%;

  @media (min-width: 1300px) {
    max-width: 60%;
  }
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: $secondary-50;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: $secondary-500;
}

.donate-section {
  padding: 64px 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 60px;

  @media (max-width: $screen-lg) {
    flex-direction: column;
    padding: 64px 40px;
  }
}

.donate-section-paragraph-container {
  width: 45%;
  display: flex;
  flex-direction: column;

  @media (max-width: $screen-xxl) {
    width: 100%;
  }
}

.heading-large-section-sub {
  margin: 10px 0;
  @include h1-semi-bold;

  @media (max-width: $screen-lg) {
    @include h3-semi-bold;
  }
}

.home-section-dark-paragraph {
  @include subheading-medium-regular;
  margin: 0 0 30px 0;

  @media (max-width: $screen-lg) {
    @include p3-regular;
  }
}

.home-section-dark-paragraph span {
  @include subheading-medium-bold;
  margin: 0 0 30px 0;

  @media (max-width: $screen-lg) {
    @include p3-bold;
  }
}