.container {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  width: 100%;
}

.cardBodyImageContainer {
  display: flex;
  justify-content: center;
}

.categoriesContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  padding-top: 12px;
}

.helpIcon {
  margin-left: 8px;
}

.categoryCard {
  min-width: 40px;
  white-space: nowrap;
  cursor: pointer;
}

.categoryAmountText {
  text-align: center;
  width: 100%;
}

.categoryNameText {
  text-align: center;
  width: 100%;
}

@media (min-width: 400px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
}

@media (min-width: 576px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
}

@media (min-width: 992px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
}

@media (min-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
}

@media (min-width: 1400px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
}
