/*@import "./variables.scss";*/

/*!**/
/*Application fonts.*/
/* *!*/
/*@mixin subheading-regular {*/
/*  font-weight: 400;*/
/*  font-size: 20px;*/
/*  line-height: 32px;*/
/*}*/

/*@mixin subheading-bold {*/
/*  font-weight: 700;*/
/*  font-size: 20px;*/
/*  line-height: 32px;*/
/*}*/

/*@mixin subheading-medium-bold {*/
/*  font-weight: 700;*/
/*  font-size: 24px;*/
/*  line-height: 29px;*/
/*}*/

/*@mixin subheading-medium-regular {*/
/*  font-weight: 400;*/
/*  font-size: 24px;*/
/*  line-height: 29px;*/
/*}*/

/*@mixin h1-small-bold {*/
/*  font-weight: 700;*/
/*  font-size: 39px;*/
/*  line-height: 47px;*/
/*}*/

/*@mixin h1-small-semi-bold {*/
/*  font-weight: 600;*/
/*  font-size: 39px;*/
/*  line-height: 47px;*/
/*}*/

/*@mixin h1-semi-bold {*/
/*  font-weight: 600;*/
/*  font-size: 48px;*/
/*  line-height: 56px;*/
/*}*/

/*@mixin h1-bold {*/
/*  font-weight: 700;*/
/*  font-size: 48px;*/
/*  line-height: 56px;*/
/*}*/

/*// The small font above each of the sections' header (refer to home page)*/
/*@mixin h1-section {*/
/*  font-weight: 700;*/
/*  font-size: 14px;*/
/*  line-height: 17px;*/
/*  text-transform: uppercase;*/
/*}*/

/*@mixin h2-semi-bold {*/
/*  font-weight: 600;*/
/*  font-size: 39px;*/
/*  line-height: 47px;*/
/*}*/

/*@mixin h3-bold {*/
/*  font-weight: 700;*/
/*  font-size: 31px;*/
/*  line-height: 38px;*/
/*}*/

/*@mixin h3-semi-bold {*/
/*  font-weight: 600;*/
/*  font-size: 31px;*/
/*  line-height: 38px;*/
/*}*/

/*@mixin h4-bold {*/
/*  font-weight: 700;*/
/*  font-size: 25px;*/
/*  line-height: 32px;*/
/*}*/

/*@mixin h4-semi-bold {*/
/*  font-weight: 600;*/
/*  font-size: 25px;*/
/*  line-height: 32px;*/
/*}*/

/*@mixin h5-semi-bold {*/
/*  font-weight: 600;*/
/*  font-size: 20px;*/
/*  line-height: 26px;*/
/*}*/

/*@mixin p1-regular {*/
/*  font-weight: 400;*/
/*  font-size: 14px;*/
/*  line-height: 20px;*/
/*}*/

/*@mixin p2-regular {*/
/*  font-weight: 400;*/
/*  font-size: 16px;*/
/*  line-height: 24px;*/
/*}*/

/*@mixin p2-bold {*/
/*  font-family: "Inter", sans-serif;*/
/*  font-weight: 700;*/
/*  font-size: 16px;*/
/*  line-height: 24px;*/
/*}*/

/*@mixin p3-bold {*/
/*  font-weight: 700;*/
/*  font-size: 18px;*/
/*  line-height: 28px;*/
/*}*/

/*@mixin p3-regular {*/
/*  font-weight: 400;*/
/*  font-size: 18px;*/
/*  line-height: 28px;*/
/*}*/

/*@mixin nav-semi-bold {*/
/*  font-weight: 600;*/
/*  font-size: 20px;*/
/*  line-height: 32px;*/
/*}*/

/*@mixin p-footer {*/
/*  font-weight: 400;*/
/*  font-size: 16px;*/
/*  line-height: 18px;*/
/*}*/

/*@mixin p-footer-bold {*/
/*  font-weight: 700;*/
/*  font-size: 16px;*/
/*  line-height: 18px;*/
/*}*/

/*@mixin caption-regular-uppercase {*/
/*  font-weight: 400;*/
/*  font-size: 12px;*/
/*  line-height: 14px;*/
/*  text-transform: uppercase;*/
/*}*/

/*@mixin caption-footer {*/
/*  font-weight: 400;*/
/*  font-size: 14px;*/
/*  line-height: 18px;*/
/*  text-transform: uppercase;*/
/*}*/

/*@mixin button-regular {*/
/*  font-weight: 600;*/
/*  font-size: 0.9em;*/
/*  line-height: 18px;*/

/*  @media (max-width: $screen-xs) {*/
/*    padding: 10px 15px;*/
/*    font-size: 0.7em;*/
/*  }*/
/*}*/