/*!**/
/*Application color theme.*/
/* *!*/
/*$secondary-50: #fffcf5;*/
/*$neutral-50: #f7f7f8;*/
/*$neutral-200: #d4d4d8;*/
/*$neutral-300: #a9aab1;*/
/*$secondary-300: #ffe69c;*/
/*$neutral-400: #a9aab1;*/
/*$neutral-500: #72727e;*/
/*$neutral-800: #1d1d20;*/
/*$primary-500: #112971;*/
/*$neutral-400: #a9aab1;*/
/*$primary-500: #112971;*/
/*$secondary-500: #ffc107;*/
/*$neutral-900: #060718;*/
/*$primary-900: #00081f;*/
/*$landing-background-color: #030303;*/
/*$navbar-color: #000000;*/

/*!* */
/*Screen breakpoints.*/
/**!*/
/*$screen-xs: 400px;*/
/*$screen-sm: 576px;*/
/*$screen-md: 768px;*/
/*$screen-lg: 992px;*/
/*$screen-xl: 1200px;*/
/*$screen-xxl: 1400px;*/

/*!* */
/*Layout variables.*/
/**!*/
/*$toolbar-height: 84px;*/